.btn {
    border: none;
    color: rgb(0, 0, 0);
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }
.btn:hover{
    background-image: linear-gradient(to bottom right, yellow,  red,  rgb(106, 20, 168),rgb(120, 120, 232));
    color: white;
}